<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Welcome</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <div class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages%}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        {% endwith %}
        <form action="/add", method="post">
            <p>Email Address:<input type="email" name="email"></p>
            <p><input type="submit" value="Add"></p>
        </form>
        <form action="/validate", method="post">
            <p>Email Address:<input type="email" name="email"></p>
            <p><input type="submit" value="Validate"></p>
        </form>
    </div>
</body>
</html>