.container {
    width: 970px;
    margin: 20px 300px auto 300px;
    padding: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

table {
    border: 1px solid black;
    width: 80%;

}

th {
    background-color: blue;
}

form p {
    display: block;

    width: 80%;
}

input[type="submit"]{
    padding: 5px;
    box-shadow: 2px 2px 2px black;
}