<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div class = "green">
        <h3>The email address you entered ({{ session['vemail'] }}) is a valid
            email address! Thank you!
        </h3>
    </div>
    <p>Email Addresses Entered:</p>
        {% for email in emails %}
            <p>{{ email.emails }} {{ email.updated_at }} <a href="/delete/<email_id>">Delete</a></p>
        {% endfor %}
</body>
</html>